.upcoming {
  background-color: white;
  color: black;
  font-size: 22px;
  @media screen and (max-width: 768px) {
    font-size: 15px;
    min-width: 46px;
  }
}

.finished {
  background-color: gray;
  @media screen and (max-width: 768px) {
    font-size: 10px;
    min-width: 46px;
  }
}

.playing {
  background-color: red;
  font-size: 22px;
  @media screen and (max-width: 768px) {
    font-size: 15px;
    min-width: 46px;
  }
}

.canceled {
  background-color: gray;
  font-size: 15px;
  @media screen and (max-width: 768px) {
    font-size: 15px;
    min-width: 46px;
  }
}

.team_logo img {
  @media screen and (max-width: 450px) {
    height: 90%;
  }
}

.team_logo p {
  @media screen and (max-width: 450px) {
    font-size: 3vw;
    line-height: 12px;
  }
}

Table.full {
  width: 320px;
}

Table tr {
  height: 45px;
}

Table.full tr > td {
  width: 80px;
}

Table.full tr > td:first-of-type {
  width: 36px;
}

Table.full tr > td:last-of-type {
  width: 208px;
}

Table.full tr > img {
  max-height: 40px;
  max-width: 64px;
}

Table.half {
  width: 80px;
}

Table tr {
  height: 45px;
}

Table.half tr > td {
  width: 80px;
}

Table.half tr > td:first-of-type {
  width: 32px;
}

Table.half tr > td:last-of-type {
  width: 180px;
}

Table.half tr > img {
  max-height: 40px;
  max-width: 64px;
}
